.app-modal {
  position: absolute; /* Stay in place */
  top: 0;
  left: 0;
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.frame {
  position: absolute;
  z-index: 9999;
  left: 10%;
  top: 10%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
